In [3]:
import pymysql
# MariaDB 연결


conn = pymysql.connect(host='127.0.0.1', user='root', password='user1234', db='dbmaria', charset='utf8')
# 커서 생성
cur = conn.cursor()
# User 테이블 생성 (nameUser에 UNIQUE 제약 추가)
cur.execute('''CREATE TABLE IF NOT EXISTS user (
            id INT,
            name VARCHRA(45),
            nameUser VARCHAR(45)
            )''')
# 삽입할 데이터
data_list = [
    ('user1', '제우', '김'),
    ('user2', '주한', '한'),
    ('user3', '재혁', '박'),
    ('user4', '한영', '최'),
    ('user5', '소희', '손')
]

# 데이터 삽입
sql = "INSERT INTO user (id, name, nameUser) VALUES (%s, %s, %s)"
cur.executemany(sql, data_list)
# 변경사항 커밋
conn.commit()
# 연결 종료
conn.close()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'VARCHRA(45),\n            nameUser VARCHAR(45)\n            )' at line 3")